```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.*
.env
.env.*
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/modules/
.DS_Store
.hg/
.hgignore
.hgcheck
.hgsigs
.svn/
.svnignore
.wafpickle-*
*.swp
*~
.pydevproject
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.venv.bak/
```